<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".GlassesActivity"
            android:exported="true"
            android:requiredDisplayCategory="android.hardware.display.category.XR_PROJECTED">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.XR_PROJECTED_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
